/Cerca.class
/Duplicati.class
/EliminaDuplicati.class
/Media.class
/MinimoMassimo.class
/PariDispari.class
/Push.class
/Ripasso.class
/Ripasso2.class
/Ripasso3.class
/Ripasso4.class
/SopraMedia.class
/TrovaPosizione.class
